<header class="menubar">
  <div class="linklist">
    <%= link_to "Boards", boards_path %>
    <%= link_to "Links", links_path %>
    <%= link_to "User", users_path %>
  </div>
</header>

<h1 class="welcomeText">Welcome to Index app</h1>
