// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0;
}

.boardContainer {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*flex-flow: row wrap;*/
}

.boardItem {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

#boardTitle {
  font-style: "Helvetica";
  font-size: 30px;
  color: black;
  font-weight: normal;
  margin-bottom: 20px;
}

p {
  font-style: "Helvetica";
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 10px;
}

.boardActions {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

#actionItem {
  font-style: "Helvetica";
  font-weight: normal;
  font-size: 14px;
}

.boardActions:last-child {
  margin-left: 20px;
}
